body, html{
    font-family:'Helvetica Neue', sans-serif;
    top:0;
    left:0;
    margin:0;
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

a{
    text-decoration: none;
}

.centered{
    max-width:80%;
}

h1{
    font-family:'Helvetica Neue', sans-serif;
    size:4rem;
}

.section {
    background-color: lightblue;
    color: black;
    width:24em;
    height:24em;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border:0.1em solid black;
    transition-property:0.5s ease-in-out;
}

.section:hover{
    color:white;
    background-color:blue;

}

