html {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    background-color: #FDF8E8;
}

body {
    padding: 5rem 0;
    line-height: 1;

}

main {
    width: 80vw;
    margin: 0 auto
}

section {
    background: #fff;
    border-radius: 50px / 50px;
    padding: 2rem;
    margin-bottom: 2rem;
    display: block;
}



#ds-container {
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
}

#main-content {
    grid-column: 2/4;
    font: inherit;
    display: block;
   
}

#left-sidebar {
    grid-column: 2/4;
}

#right-sidebar {
    grid-column: 3 / 4;
}

.section-label {
    text-transform: uppercase;
    font-weight: 700;
}

.section-break {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 3rem;
}

.section-break2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6, {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

p, li {
   font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.primary-hue {
    display: flex;
    padding: 4rem 1rem;
    color: black;
    font-family: 'Work Sans', sans-serif;
    border-radius: 50px 50px 0px 0px;
}

.primary-hue > div {
    width: 33%;
}

.secondary-hue {
    display: flex;
    padding: 2.5rem 1rem;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
}

.secondary-hue > div {
    width: 33%;
}

.accent-hue > div {
    width: 33%;
}

.accent-hue {
    display: flex;
    padding: 1.5rem 1rem;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    border-radius: 0px 0px 50px 50px;
}

.color-gray {
    text-align: center;
    background-color: #ECDFC9;
}

.color-medium-brown {
    text-align: center;
    background-color: #F2B999;
}

.color-deep-brown {
  text-align: center;
    background-color: #F2AB91;
}

.color-medium-yellow {
  text-align: center;
    background-color: #D9695F;
}

.color-bright-yellow {
  text-align: center;
    background-color: #A62A2A ;
}

.buttonp{
    float: left;
    margin-right: 1rem;
  text-align: center;
  display: table;
  color: white;
  background-color:#A62A2A ;
  width: 125px;
  border-radius: 50px/50px;
  height: 5px;
}

.buttons{
    margin-right: 1rem; 
    float: left;
  text-align: center;
  display: table;
  color: white;
  background-color: #D9695F;
  width: 125px;
  border-radius: 50px/50px;
  height: 5px;

}

.buttond{
  text-align: center;
  display: table;
  color: #A62A2A;
  background-color: #ECDFC9;
  width: 125px;
  border-radius: 50px/50px;
  height: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F2B999;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #D9695F;
}

input:focus + .slider {
  box-shadow:0px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.loader {
   border-top: 16px solid #A62A2A;
  border-right: 16px solid #D9695F;
  border-bottom: 16px solid #F2AB91;
  border-left: 16px solid #ECDFC9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Dropdown Button */
.dropbtn {
     font-family: 'Work Sans', sans-serif;
    text-align: center;
    width: 125px;
border-radius: 50px/50px;
  background-color: #F2AB91;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: left;
    margin-right: 1rem;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    border-radius: 12px/12px;
  display: none;
  position: absolute;
  background-color: #ECDFC9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    border-radius: 12px/12px;
  color: #A62A2A;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #F2AB91; color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #D9695F;}

.fname{
    outline: #A62A2A;
}


#pc{
  border-radius: 25px/25px;
  background-color: #ECDFC9;
  padding: 1rem;
    width: 275px;
    display: table;

}

#pci{
  border-radius: 25px/25px;
  float: center;
  height: 275px;
  width: 275px;
}

#cwi{
  padding: 1rem;
  background-color: #F2B999;
  display: block;
  border-radius: 25px/25px;
  width: 300px;
}

#cwii{
    border-radius: 25px/25px;
  display: block;
    height: 250px;
  width: 300px;
}

.signup {
  height: 425px;
  padding: 16px;
    background-color: #F2AB91;
        border-radius: 25px/25px;
}

hr{
  border: 1px solid #A62A2A;
  margin-bottom: 25px;
}

label{
  display: block;
  font: 1rem;
  font-family: 'Work Sans', sans-serif;

}

input[type="text"]{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border:none;
  background-color: white;
}

input[type="password"]{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border:none;
  background-color: white;
}

.cancel, .signupb{
  float: left;
  width: 45%;
  border-radius: 25px/25px;
}

.cancel{
  padding: 14px 20px;
  background-color: #ECDFC9;
  margin-right: 1rem;
}

.signupb{
    background-color: #F2B999;
    padding: 14px 20px;
}
b{
  font: inherit;
}
